


    <!-- Left Sidebar Navigation -->
    <!-- <nav>
        <h2>VoteChain</h2>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="result">Results</a></li>
            <li><a routerLink="about">About</a></li>
            <li><a routerLink="/userlogin">Contact For Queries</a></li>

            <div class="dropdown">
              <li><a href="#">Login </a></li>
                <div class="dropdown-content">
                  <a routerLink="/Admin">Admin Login</a>
                  <a routerLink="/userlogin">User Login</a>
                </div>
                </div>
        </ul>
    </nav> -->


    <!-- <a routerLink="/con">email</a> -->

<router-outlet></router-outlet>